<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Person</title>
</head>
<body>
    <h3>Personal Info</h3>
    <p>Id: <span th:text="${person.getId()}"></span></p>
    <p>Name: <span th:text="${person.getName()}"></span></p>
    <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Remove person">
    </form>
    <a href="/people">Go back!</a>
</body>
</html>